@import url('https://fonts.googleapis.com/css2?family=Rubik');

:root{
    --background-color: #303030;
    --darker: #202020;
    --dark-darker: #141414;
}

*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Rubik', sans-serif;
}

body{
    width: 90%;
    margin: 20px auto;
    background-color: var(--background-color);
}

nav{
    background-color: var(--darker);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 10dvh;
    padding: 20px 0;
}

nav>h1{
    margin: auto 0;
    font-size: 2rem;
    text-decoration: none;
}

nav a{
    text-decoration: none;
}

#ricerca{
    align-self: center;
    height: 40%;
    width: 100%;
    color: black;  
}

#search-div{
    position: relative;
    display: grid;
    grid-template-rows: 100% auto;
    width: 50%;
    height: 100%;
}

.flexable{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-div{
    margin: 10px 0;
    padding: 30px;
    background-color: var(--dark-darker);
}

#user>img{
    width: 50px;
    border-radius: 50%;
}

#user>a{
    display: block;
}

.logout:hover {
    color: red;
    transition: 0.2s;
}

.logout {
    transition: 0.2 s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(72deg);
        animation-timing-function: ease-in;
    }
    40% {
        transform: rotate(144deg);
        animation-timing-function: ease-out;
    }
    60% {
        transform: rotate(216deg);
        animation-timing-function: ease-in;
    }
    80% {
        transform: rotate(288deg);
        animation-timing-function: ease-out;
    }
    100% {
        transform: rotate(360deg);
    }
}


#navTitle{
    margin-bottom: 20px;
}

#logo{
    width: 84px;
    animation: rotate 10s linear infinite;
    transform-origin: center center;
}

button, input[type="submit"] {
    background-color: var(--darker);
    border: 1px solid white;
    outline: none;
    font-size: 1.1rem;
    margin-top: 10px;
    resize: none;
    padding: 10px;
}

input[type="submit"]:hover {
    border-bottom: 1px solid black;
    background-color: white;
    color: black;
}

input[type="text"] {
    color: black;
}