
#catchphrase{
    text-align: center;
}

#catchphrase>*{
    animation: fade-in 4s ease-out;
    z-index: 1;
}

#nuove-uscite{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nuove-uscite>h1{
    display: block;
}

.album {
    transition: 0.5s
}

.album:hover {
    background-color: #646464;
    transition: 0.5s;
}

.album>div{
    width: 200px;
}

.album>div>img{
    width: 200px;
    display: block;
    margin: 0 auto;
}
.album>div>h3{
    width:100%;
    text-align: center;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}