#results{
    background-color: var(--darker);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 90;
    border: 5px solid var(--background-color);
    display: none;
}

.result-item{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.result-item>p{
    padding: 10px;
}

.result-item>img{
    height: 90px;
}